.circle-menu {
    /* visibility: hidden; */
    background-color: #282c34;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
}

.circle + .circle {
    margin-top: 12px;
}

.circle.yellow { background-color: #ffe371; }
.circle.red { background-color: #ff6868; }
.circle.blue { background-color: #5588ff; }