.revealer {
    --defaultWidth: 940px;
    width: var(--defaultWidth);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    visibility: hidden;
    position: relative;
}

.image-container {
    width: var(--defaultWidth);
    height: 680px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        display: block;
        width: var(--defaultWidth);
        position: absolute;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: #f5f5f5;
    }
}