.slider {

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    $slider-height: 640px;
    $slider-width: 1180px;
    $primary: #2e293c;
    $secondary: #a09da6;
    $background: #e3e3e3;

    height: $slider-height;
    width: $slider-width;
    display: flex;
    border-radius: 12px;
    font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    & * {
        user-select: none;
    }

    .arrow {
        height: inherit;
        width: 100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            z-index: -100;
            opacity: 0;
            background-color: $background;
            transition: opacity 0.4s ease-in-out;
        }

        &:hover:before {
            opacity: 0.8;
        }

    }

    .content {
        $image-width: 330px;
        $image-height: 495px;
        height: inherit;
        flex: 1;
        display: flex;

        .images {
            height: inherit;
            flex: 1.5;
            display: flex;
            align-items: center;
            justify-content: center;

            .window {
                width: $image-width;
                height: $image-height;
                overflow: hidden;

                .container {
                    display: flex;
                    flex-direction: row;
                }

                img {
                    width: $image-width;
                    height: $image-height;
                    object-fit: cover;
                }
            }
        }

        .testimonials {
            height: inherit;
            flex: 2;
            text-align: start;
            color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;

            .container {
                width: 100%;
                height: 280px;
                position: relative;
                overflow: hidden;

                .testimonial {
                    position: absolute;
                    opacity: 0;
                }
            }

            .quote {
                font-size: 26px;
                letter-spacing: 0.88px;
                line-height: 40px;
                font-weight: 700;
                margin-bottom: 16px;
            }

            .name {
                font-weight: 600;
            }

            .name,
            .title {
                font-size: 18px;
                letter-spacing: 0.88px;
                line-height: 28px;
                color: $secondary;
            }

        }
    }
}